p{
  font-family: Montserrat;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}
.model{
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 12px;
}
.order{
  font-size: 15px;
  margin-right: 3px;
}
.touch{
  text-decoration: underline;
}