p{
  font-family: Arial;
  font-size:  13px;
  margin-top: 0;
  margin-bottom: 0;
}
.email{
  margin-bottom: 7px;
}
.blank{
  border-width: 1px;
  width: 320px;
  border-style: solid;
  border-color: black;
  border-radius: 4px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 15px;
  font-family: Verdana;
}
.button{
  background-color:rgb(21, 21, 172);;
  margin-top:10px ;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 160px;
  border: none;
  width: 320px;
  color:black;
  cursor: pointer;
  transition: color 1.15s,background-color 1.15s;
}
.button:hover
{
  color: rgb(21, 21, 172);
  background-color: black;

}