.first{
  width: 110px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 5px;
  border-width: 1px;
  border-color:gray;
  border-style: solid;
}
.last{
  width: 110px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 5px;
  border-width: 1px;
  border-color:gray;
  border-style: solid;
}
.email{
  display: block;
  width: 245px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 5px;
  border-width: 1px;
  border-color:gray;
  border-style: solid;
  margin-top: 8px;
}
button{
  width: 245px;
  margin-top: 8px;
  padding-bottom: 8px;
  padding-top: 8px;
  border: none;
  background-color: blue;
  color: white;
  border-radius: 6px;
}